table {
    border-collapse: collapse;
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  table,
  caption,
  th,
  td {
    border: 4px solid #ffffff;
    padding: 8px;
  }
  
  th {
    background-color: #415a77;
     }
  caption {
    border-bottom: none;
    font-weight: bold;
    background-color: #415a77;
  }

  td {
    text-align: center;
  }
thead{
  background-color:#415a77;
    }
tbody{
  background-color:#778da9;
    }
tfood{
  background-color:#457b9d;
    }    
    